

<div class="form-group spacing @Class">
    <label class="form-label" for="@Id">@Label</label>
    <InputFile id="@Id" class="form-control" OnChange="HandleChange" multiple  />
</div>
   
   
      
   